# Datenbank (PostgreSQL)
DATABASE_URL="postgresql://sdboard:DEIN_PASSWORT@localhost:5432/sdboard"

# NextAuth
NEXTAUTH_URL="https://board.sdbrowser.de"
NEXTAUTH_SECRET="ZUFAELLIGER_LANGER_STRING_HIER"

# Google OAuth (optional)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
